/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.chat-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 100vh; /* Altura total do viewport */
  display: flex;
  flex-direction: column;
}

.chat-header {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

.chat-header h2 {
  font-size: 24px;
  color: #333;
}

.chat {
  flex: 1; /* Preencha o espaço restante */
  overflow-y: auto;
  padding: 10px;
  border-radius: 5px;
}

.message {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  max-width: 80%;
}

.send {
  align-self: flex-end; /* Alinha à direita */
  background-color: #007bff;
  color: #fff;
}

.received {
  align-self: flex-start; /* Alinha à esquerda */
  background-color: #f9f9f9;
}

.message-sender {
  font-weight: bold;
  margin-bottom: 5px;
}

.message-time {
  font-size: 12px;
  color: #777;
  text-align: right;
}

/* Estilo para mensagens enviadas pelo usuário */
.sent-by-user {
  background-color: #4caf50; /* Cor de fundo verde */
  color: #fff; /* Cor do texto branco */
}

.input-container {
  display: flex;
  padding: 10px;
}

#message-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#send-button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

#send-button:hover {
  background-color: #0056b3;
}

/* Responsiveness */
@media (max-width: 600px) {
  .chat-container {
    margin: 0 10px;
  }
}
