body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(97, 89, 89);
    color: #333;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
/* Header */
.hero {
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    animation: backgroundAnimation 15s infinite alternate; /* Adicionando a animação */
  }
  
  @keyframes backgroundAnimation {
    0%, 100% {
      background-image: url('../../imgs/home/gifs-de-tecnologia-40.gif');
    }
  }
  
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  
  .logo {
    font-size: 32px;
    font-weight: bold;
    color: #333;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #aca5a5;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-links a:hover {
    color: #007bff;
  }
  
  /* Hero Content */
  .hero-content {
    margin-top: 50px;
  }
  
  .hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #ececec;
  }
  
  .cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #118801;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.3s ease-in-out;
  }
  
  .cta-button:hover {
    background-color: #0056b3;
  }
  
  /* About Section */
  .about {
    background-color: #fff;
    padding: 100px 0;
  }
  
  .about h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Footer */
  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 40px 0;
  }
  
  .footer p {
    margin: 0;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .logo {
      margin-bottom: 10px;
    }
  
    .nav-links {
      flex-direction: column;
    }
  }
  